name: 博客发布版提取

on:
  push:
    branches: [ main ] # 只有当 main 分支有变动时触发

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Pushes to another repository
      uses: cpina/github-action-push-to-another-repository@main
      env:
        # 使用在第二步设置的 Secret
        API_TOKEN_GITHUB: ${{ secrets.TARGET_REPO_TOKEN }}
      with:
        # 1. 要提取的本地目录
        source-directory: 'public'

        # 2. 目标仓库信息
        destination-github-username: 'yichengyanyugui'
        destination-repository-name: 'MyBlog-Public'

        # 3. 目标分支
        target-branch: main

        # 4. 提交信息
        commit-message: "Update blog content from source"
        user-email: github-actions[bot]@users.noreply.github.com
