name: Sync Public to Separate Repo

on:
  push:
    branches: [ main ] # 当你向源码仓库 push 代码时触发

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    # 1. 检出源码仓库
    - name: Checkout Source
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    # 2. 如果你的 public 目录是生成的（例如 Hexo），请取消下面三行的注释
    # - name: Install and Build
    #   run: npm install && npx hexo generate

    # 3. 将指定目录推送到目标仓库
    - name: Deploy to Separate Repo
      uses: peaceiris/actions-gh-pages@v3
      with:
        # 使用你在 Secrets 中存好的 Token
        personal_token: ${{ secrets.TARGET_REPO_TOKEN }}

        # 目标用户名和仓库名
        external_repository: yichengyanyugui/MyBlog-Public

        # 来源目录：只提取 public 文件夹里的内容
        publish_dir: ./public

        # 目标分支
        publish_branch: main

        # 强制覆盖历史（保持目标仓库只有最新的构建结果）
        force_orphan: true

        user_name: 'github-actions[bot]'
        user_email: 'github-actions[bot]@users.noreply.github.com'
        commit_message: "Site updated: ${{ github.event.head_commit.message }}"
    # 推送到服务器
    - name: SSH Remote Commands
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SERVER_SSH_KEY }}
        script: |
          cd /opt/1panel/www/sites/ycyyg.space/index
          # 如果是第一次，可能需要执行 git init 等，但通常建议预先 clone 好
          git pull origin main
          echo "Deployment finished successfully!"
